@{
    Layout = "_CustomLayout";
}
<p>Nếu in ra 4 cái ảnh thì kết nối thành công</p>
<a class="btn btn-danger"
   href="/UserManagerManagement/GetAccountListByEmail">Go to usermanager</a>
<button class="btn btn-danger">Favourite media</button>
<div id="wapper" class="row mt-3"></div>
<script src="~/js/User-Dashboard.js"></script>