.w-85{
	width: 85% !important;
}
.w-90{
	width: 90% !important;
}
#wrapper{
    height: 99vh;
    width: 100%;
}
form div label::after{
 content: " *";
 color: red;
}
#dob_icon{
    cursor: pointer;
    color: white;
    background-color: #202020;
}