body {
  background-color: #171717;
  color: white;
}
.title {
  font-size: 20px;
}
.imageHolder {
  height: 30vh;
  cursor: pointer;
}
.imageHolder > img {
  max-width: 100%;
  height: 100%;
}
.imageHolder div{
  overflow: hidden;
}

.imageHolder img{
  z-index: 1;
    display: block;
    transition: transform .4s;
}

.imageHolder:hover img{
  transform: scale(1.2);
  transform-origin: 50% 50%;
}