.title {
  font-size: 20px;
}
#big_banner {
  width: 55%;
}
#watch_now_big_banner {
  position: absolute;
  margin-top: 370px;
  left: 370px;
  z-index: 999;
}
#watch_now_big_banner img {
  z-index: 0;
}
#media_holder {
  height: 25vh;
}
