@{
    ViewBag.Title = "Category Manager";
    Layout = "_CustomLayout";
}
@section Styles {
  <link href="@Url.Content("~/css/Media-Manager.css")" rel="stylesheet" type="text/css" />
  <link href="@Url.Content("~/css/Slide-Bar.css")" rel="stylesheet" type="text/css" />
}
<div  class="col-10">
</div>
<script src="~/js/Pagination.js"></script>
<script src="~/js/Slide-Bar.js"></script>
<script src="~/js/Search-Component.js"></script>
<script src="~/js/Media-Manager-DashBoard.js"></script>
<script>
    let button = `<a id="back_btn" href="/MediaManagerManagement/Index" class="side_bar_btn btn btn-dark text-decoration-none text-start link-light mx-auto w-100">
                    Media Manager
                  </a>`;
    appendButton(button);
</script>
