@{
    ViewBag.Title = "Preview";
    Layout = "_CustomLayout";
}
@section Styles {
    <link href="@Url.Content("~/css/Slide-Bar.css")" rel="stylesheet" type="text/css" />
}
<div class="col-10">
    <a class="d-flex btn col-1" href="/MediaManagerManagement/Index">
        <i class="fas fa-arrow-left pt-1 pe-2"></i> Back
    </a>
    <div class="wrapper row col-12 mx-auto text-dark">
        <div class="d-flex justify-content-start mt-2" id="content_holder">
        </div>
        <div class="mt-3">
            <p class="fw-bold fs-4">Season</p>
            <div id="season_holder" class="ps-5">
            </div>
        </div>
        <div class="d-flex justify-content-center mt-2">
            <button class="btn btn-primary mb-3" onclick="publish()">Publish</button>
        </div>
    </div>
</div>
<!-- modal -->
<div class="modal fade" id="noteModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex justify-content-between">
                    <p class="h3">Leave a note for this activity</p>
                    <p class="h2"></p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div>
                    <textarea class="form-control" rows="15" cols="90" id="note_input"></textarea>
                </div>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary" id="submit_btn" onclick="disapprove(this)">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- season detail-->
<div class="modal fade" id="season_detail_modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
            </div>
            <div class="d-flex justify-content-center mb-2">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- flash message -->
<div class="modal fade" id="modal_flash" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body d-flex flex-column">
            </div>
        </div>
    </div>
</div>

<script src="~/js/Media-Detail-Preview.js"></script>
<script src="~/js/Slide-Bar.js"></script>
<script>
    getRequestDetail("@ViewBag.MediaID");
    let button = `<a id="back_btn" href="/MediaManagerManagement/Index" class="side_bar_btn btn btn-dark text-decoration-none text-start link-light mx-auto w-100">
                                Media
                              </a>`;
    let button2 = `<a id="back_btn" href="/MediaManagerManagement/CategoryManager" class="side_bar_btn btn btn-dark text-decoration-none text-start link-light mx-auto w-100">
                                    Category & type
                                  </a>`;
    let button3 = `<a href="/MediaManagerManagement/ViewNotificationManage" class="side_bar_btn btn btn-dark text-decoration-none link-light text-start w-100">
                                            Notification
                                          </a>`;
    appendButton(button3);
    appendButton(button2);
    appendButton(button);
</script>
