@{
    ViewBag.Title = "Preview";
    Layout = "_CustomLayout";
}
@section Styles {
  <link href="@Url.Content("~/css/Slide-Bar.css")" rel="stylesheet" type="text/css" />
}
<div class="col-10">
    <div class="wrapper row col-12 mx-auto text-dark">
        <div class="row">
            <div id="img_holder" class="col-6">
            </div>
            <div class="col-6 mt-4">
                <div flex="d-flex">
                    <p class="feild col-3 d-inline fs-5">Title:</p>
                    <p class="fs-4 lh-1" id="detail_title"></p>
                </div>
                <div class="overflow-auto" id="detail_table">
                </div>
                <div class="row">
                    <div class="d-flex flex-row mb-3">
                        <div id="description" class="options me-4 mt-3 chosen">
                            <p class="h4">
                                Description
                            </p>
                        </div>
                    </div>
                    <div id="option_detail"></div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-5">
            <div class="btn btn-primary me-3" onclick="requestApprove()">
                Aprrove
            </div>
            <div class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#noteModal">
                Disapprove
            </div>
        </div>
    </div>
</div>
<!-- modal -->
<div class="modal" id="noteModal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="d-flex justify-content-between">
            <p class="h3">Leave a note for this activity</p>
            <p class="h2"></p>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div>
            <textarea class="form-control" rows="15" cols="90" id="note_input"></textarea>
            <button class="btn btn-primary" onclick="requestDisapprove()">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="~/js/Preview.js"></script>
<script src="~/js/Slide-Bar.js"></script>
<script>console.log(`@{ViewBag.CategoryID}`);</script>