@{
    Layout = "_CustomLayout";
}
@section Styles {
  <link href="@Url.Content("~/css/Supporter-Dashboard.css")" rel="stylesheet" type="text/css" />
  <link href="@Url.Content("~/css/Slide-Bar.css")" rel="stylesheet" type="text/css" />
}
<div class="ui_wrapper col-10">
    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th class="col-1 w-25">#</th>
                <th class="col-3">Request from</th>
                <th class="col-4">Note</th>
                <th class="col-1">Preview</th>
            </tr>
        </thead>
        <tbody id="requestWrapper"></tbody>
    </table>
    <div id="pagination"></div>
</div>
<script src="~/js/Pagination.js"></script>
<script src="~/js/Media-Manager-DashBoard.js"></script>
<script>
    Start();
</script>
