@{
    ViewBag.Title = "Media Manager";
    Layout = "_CustomLayout";
}
@section Styles {
    <link href="@Url.Content("~/css/Media-Manager.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/Slide-Bar.css")" rel="stylesheet" type="text/css" />
}
<div class="ui_wrapper col-10" style="background-color: #fff">
    <div>
        <p class="h1 text-secondary">Media management</p>
    </div>
    <div class="table_container p-2 ps-3 w-85 mx-auto rounded" style="background-color: #ffffff">
        <div class="ms-3 btn-group">
            <div class="status_btn">
                <p class="me-4 p-1 chosen" onclick="setStatus(this)" value="All">All</p>
            </div>
            <div class="status_btn">
                <p class="me-4 p-1 " onclick="setStatus(this)" value="Pending">Pending</p>
            </div>
            <div class="status_btn">
                <p class="me-4 p-1" onclick="setStatus(this)" value="Approved">Approved</p>
            </div>
            <div class="status_btn">
                <p class="me-4 p-1" onclick="setStatus(this)" value="Disapproved">Disapproved</p>
            </div>
        </div>
        <div class="btn-group w-100 px-3 pt-3 pb-2s border rounded-top">
            <div id="search_wrapper" class="col-7"></div>
        </div>
        <div id="notFound" class="hide">
        </div>
        <div id="table_holder" class="border rounded-bottom pb-0 mb-2">
            <table class="table table-borderless table-striped table-responsive mb-0 table-hover w-100">
                <thead class="table-secondary">
                    <tr>
                        <th id="no" class="col" style="width: 50px;">#</th>
                        <th id="name" class="col">Name</th>
                        <th id="total" class="col text-center" style="width: 150px;">Total season</th>
                        <th id="status" class="col text-center" style="width: 150px;">Status</th>
                        <th id="preview" class="col text-center">Preview</th>
                    </tr>
                </thead>
                <tbody id="requestWrapper"></tbody>
            </table>
            <div class="d-flex align-items-center table-secondary">
                <p class="col-2 my-auto form-text text-center" id="page_notification"></p>
                <div class="col-2 me-2">
                    <p class="my-auto form-text text-end">Rows per page</p>
                </div>
                <div class="col-1">
                    <select class="form-select form-select-sm w-75" onchange="setRowsPerPage(this)">
                        <option value="6" selected>6</option>
                        <option value="8">8</option>
                        <option value="10">10</option>
                        <option value="12">12</option>
                    </select>
                </div>
                <div id="pagination" class="col-7 d-flex justify-content-end pe-5">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Pagination.js"></script>
<script src="~/js/Slide-Bar.js"></script>
<script src="~/js/Search-Component.js"></script>
<script src="~/js/Media-Manager-DashBoard.js"></script>
<script>
    requestEditRequestData();
    appendSearch("Search editor's email", "");
    setEnterEvent();
    let button = `<a id="back_btn" href="/MediaManagerManagement/Index" class="side_bar_btn btn btn-dark text-decoration-none text-start link-light mx-auto w-100">
                                Media
                              </a>`;
    let button2 = `<a id="back_btn" href="/MediaManagerManagement/CategoryManager" class="side_bar_btn btn btn-dark text-decoration-none text-start link-light mx-auto w-100">
                                    Category & type
                                  </a>`;
    let button3 = `<a href="/MediaManagerManagement/ViewNotificationManage" class="side_bar_btn btn btn-dark text-decoration-none link-light text-start w-100">
                                            Notification
                                          </a>`;
    appendButton(button3);
    appendButton(button2);
    appendButton(button);
</script>
