@{
    ViewBag.Title = "Notification Manage";
    Layout = "_CustomLayout";
}
@section styles {
    <link href="@Url.Content("~/css/User-Manager.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/Slide-Bar.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/Form.css")" rel="stylesheet" type="text/css" />
}
<div class="col-10 d-flex flex-column" style="background-color: #D0D0D0 ">
    <div>
        <p class="h1 text-secondary">Notification management</p>
    </div>
    <div class="mb-2">
        <button class="btn btn-primary offset-1" data-bs-toggle="modal" data-bs-target="#addNotificationModal">Add new notification</button>
        <button class="btn btn-primary offset-1 d-none" id="EditModal_trigger" data-bs-toggle="modal" data-bs-target="#editNotificationModal">Add new notification</button>
    </div>
    <div class="table_container p-2 w-85 mx-auto rounded" style="background-color: #ffffff">
        <div class="btn-group w-100 px-3 pt-3 pb-2 border rounded-top">
            <div id="search_wrapper" class="col-6 me-auto"></div>
            <div id="search_wrapper" class="col-3 me-auto"></div>
            <div class="col-3 d-flex">
                <label class="form-label mt-2 text-dark">Status</label>
                <select id="status_filter" class="ms-2 form-select h-85" onchange="setStatus(this)">
                    <option selected>All</option>
                    <option value="Available">Available</option>
                    <option value="Unavailable">Unavailable</option>
                </select>
            </div>
        </div>
        <div id="notFound" class="hide">
        </div>
        <div id="table_holder" class="border rounded-bottom pb-0 mb-2 w-100">
            <table class="table table-striped table-responsive mb-0 table-hover shadow">
                <thead class="table-secondary table-striped">
                    <tr>
                        <th class="col">#</th>
                        <th class="col" style="width: 200px">Title</th>
                        <th class="col" style="width: 400px">Content</th>
                        <th class="col text-center" style="width: 100px">Date</th>
                        <th class="col text-center" style="width: 100px">Status</th>
                        <th class="col text-center">Action</th>
                    </tr>
                </thead>
                <tbody id="dataWapper"></tbody>
            </table>
            <div class="d-flex align-items-center table-secondary">
                <p class="col-2 my-auto form-text text-center" id="page_notification"></p>
                <p class="col-2 me-2 my-auto form-text text-end">Rows per page</p>
                <div class="col-1">
                    <select class="form-select form-select-sm w-75" onchange="setRowsPerPage(this)">
                        <option value="8" selected>8</option>
                        <option value="10">10</option>
                        <option value="12">12</option>
                        <option value="14">14</option>
                    </select>
                </div>
                <div id="pagination" class="col-7 d-flex justify-content-end pe-5">
                </div>
            </div>
        </div>
    </div>
</div>
<!--Add noti-->
<div class="modal fade" id="addNotificationModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background-color: #F8F8F8">
            <div class="modal-header">
                <h5 class="modal-title">Add new notification</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3 row justify-content-center">
                    <label for="title" class="required col-sm-2 col-form-label text-end p-0">Title</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="title" onkeyup="checkEmpty(this)">
                        <div class="invalid-feedback">
                        </div>
                    </div>
                </div>
                <div class="mb-3 row justify-content-center">
                    <label for="content" class="required col-sm-2 col-form-label text-end p-0">Content</label>
                    <div class="col-sm-9">
                        <textarea style=" resize: none;" rows="10" class="form-control" id="content" onkeyup="checkEmpty(this)"></textarea>
                        <div class="invalid-feedback">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="addNewNotification()">Add</button>
            </div>
        </div>
    </div>
</div>
<!--edit modal-->
<div class="modal fade" id="editNotificationModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background-color: #F8F8F8">
            <div class="modal-header">
                <h5 class="modal-title">Edit notification</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3 row justify-content-center">
                    <label for="editTitle" class="required col-sm-2 col-form-label text-end p-0">Title</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="editTitle" onkeyup="checkEmpty(this)">
                        <div class="invalid-feedback">
                        </div>
                    </div>
                </div>
                <div class="mb-3 row justify-content-center">
                    <label class="col-sm-2 col-form-label text-end" for="status">Available</label>
                    <div class="col-sm-9">
                        <div class="form-check form-switch pt-2">
                            <input class="form-check-input" type="checkbox" id="status">
                        </div>
                    </div>
                </div>
                <div class="mb-3 row justify-content-center">
                    <label for="editContent" class="required col-sm-2 col-form-label text-end p-0">Content</label>
                    <div class="col-sm-9">
                        <textarea style=" resize: none;" rows="10" class="form-control" id="editContent" onkeyup="checkEmpty(this)"></textarea>
                        <div class="invalid-feedback">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="requestEditNotification()">Save</button>
            </div>
        </div>
    </div>
</div>
<!--flash message-->
<div class="modal fade" id="messageModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body d-flex flex-column justify-content-center">
                <div class="row text-center" id="flash_message">
                </div>
            </div>
        </div>
    </div>
</div>
@section script{
    <script src="~/js/Pagination.js"></script>
    <script src="~/js/Slide-Bar.js"></script>
    <script src="~/js/Search-Component.js"></script>
    <script src="~/js/NotificationManager.js"></script>
    <script src="~/js/MessageModal.js"></script>

    <script>
        requestNotifications();
        appendSearch("Search account's email", "");
        setEnterEvent();
        let button = `<a id="back_btn" href="/MediaManagerManagement/Index" class="side_bar_btn btn btn-dark text-decoration-none text-start link-light mx-auto w-100">
                                Media
                              </a>`;
        let button2 = `<a id="back_btn" href="/MediaManagerManagement/CategoryManager" class="side_bar_btn btn btn-dark text-decoration-none text-start link-light mx-auto w-100">
                                    Category & type
                                  </a>`;
        let button3 = `<a href="/MediaManagerManagement/ViewNotificationManage" class="side_bar_btn btn btn-dark text-decoration-none link-light text-start w-100">
                                            Notification
                                          </a>`;
        appendButton(button3);
        appendButton(button2);
        appendButton(button);
    </script>
}
