@{
    Layout = "_CustomLayout";
}
@section Styles {
    <link href="@Url.Content("~/css/Supporter-Dashboard.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/Slide-Bar.css")" rel="stylesheet" type="text/css" />
}
<div class="ui_wrapper col-10">
    <form method="POST" action="">
        <table class="table table-bordered w-100">
            <thead class="table-dark">
                <tr>
                    <th class="col-1">No</th>
                    <th class="col-2">User Email</th>
                    <th class="col-1">Topic</th>
                    <th class="col-1">Status</th>
                    <th class="col-2"><th>
                </tr>
            </thead>
            <tbody id="dataWapper"></tbody>
        </table>
        <div id="pagination"></div>
    </form>
</div>
<script src="~/js/Supporter-Dashboard.js"></script>
<script src="~/js/Slide-Bar.js"></script>
<script> 
getTopics();
</script>