@{
    ViewBag.Title = "Ticket Support";
    Layout = "_CustomLayout";
}
@section Styles {
    <link href="@Url.Content("~/css/Supporter-Dashboard.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/Slide-Bar.css")" rel="stylesheet" type="text/css" />
}
<div class="ui_wrapper col-10" style="background-color: #DDDDDD">
    <div class="table_container p-2 w-100 mx-auto rounded" style="background-color: #ffffff">
        <div class="ms-3 btn-group">
            <div class="status_btn">
                <p class="me-4 p-1 chosen" onclick="setStatus(this)" value="">All</p>
            </div>
            <div class="status_btn">
                <p class="me-4 p-1 " onclick="setStatus(this)" value="Pending">Pending</p>
            </div>
            <div class="status_btn">
                <p class="me-4 p-1" onclick="setStatus(this)" value="Assigned">Assigned</p>
            </div>
            <div class="status_btn">
                <p class="me-4 p-1" onclick="setStatus(this)" value="Closed">Closed</p>
            </div>
        </div>
        <div class="btn-group w-100 px-3 pt-3 pb-2 bg-primary border rounded-top">
            <div id="search_wrapper" class="col-7"></div>
            <div class="d-flex col-3 offset-2">
                <label class="form-label mt-2 text-light">Topic</label>
                <select id="status_filter" class="ms-2 form-select h-85 w-75" onchange="setSelectedTopic(this)">
                    <option value="All">All</option>
                    <option value="Account">Account</option>
                    <option value="Media">Media</option>
                    <option value="Services">Services</option>
                    <option value="Subscription">Subscription</option>
                    <option value="Others">Others</option>
                </select> 
            </div>
        </div>
        <div id="notFound" class="hide"> 
        </div>
        <div id="table_holder" class="border rounded-bottom pb-0 mb-2">
            <table class="table table-borderless table-striped table-responsive mb-0 table-hover w-100">
                <thead class="table-secondary">
                    <tr>
                        <th class="col">#</th>
                        <th class="col text-center">User email</th>        
                        <th class="col text-center">Create Date <i class="fas fa-sort-up" id="sort" onclick="sort(this)"></i></th>
                        <th class="col text-center">Content</th>
                        <th class="col text-center">Status</th>
                        <th class="col">Details</th>
                    </tr>
                </thead>
                <tbody id="dataWapper"></tbody>
            </table>
            <div class="d-flex align-items-center" style="background-color: #DDDDDD">
                <p class="col-2 my-auto form-text text-center" id="page_notification"></p>
                <p  class="col-1 me-2 my-auto form-text d-inline-flex">Rows per page</p>
                <div class="col-1">
                    <select class="form-select form-select-sm w-75" onchange="setRowsPerPage(this)">
                        <option value="8" selected>8</option>
                        <option value="10">10</option>
                        <option value="12">12</option>
                        <option value="14">14</option>
                    </select>
                </div>
                <div id="pagination" class="col-8 d-flex justify-content-end pe-5">
                </div>
            <div>
        </div>
    </div>
</div>
<!-- modal -->
<div class="modal fade" id="detail_modal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Detail</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="detail_wrapper">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="sendTicketDetail('customerRelation')" data-bs-dismiss="modal">Forward to customer relation</button>
            <button type="button" class="btn btn-primary" onclick="sendTicketDetail('technical')" data-bs-dismiss="modal">Forward to technical</button>
        </div>
    </div>
  </div>
</div>
<!-- modal -->
<div class="modal fade" id="modal_flash" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <div class="row text-center" id="flash_message">
            </div>
          </div>
        </div>
    </div>
</div>
<script src="~/js/Pagination.js"></script>
<script src="~/js/Slide-Bar.js"></script>
<script src="~/js/Search-Component.js"></script>
<script src="~/js/Supporter-Dashboard.js"></script>
<script src="~/js/View-Ticket-Details.js"></script>
<script> 
    requestTopicData();
    appendSearch("Search user's email", "");
    setEnterEvent();
    let button = `<a id="back_btn" href="/SupporterDashboard/Index" class="side_bar_btn btn btn-dark text-decoration-none text-start link-light mx-auto w-100">
                    Support Ticket
                  </a>`;
    appendButton(button);
    setRoleName("Ticket Supporter");
    setName("Hoàng Long")
</script>