@{
    ViewBag.Title = "Home";
    Layout = "_UserDashboardLayout";
}
@section styles{
    <link rel="Stylesheet" href="@Href("~/css/User-Dashboard.css")" />
    <link rel="Stylesheet" href="@Href("~/css/Header.css")" />
}
<div id="wrapper">
</div>
<script src="~/js/User-Dashboard.js"></script>
<script src="~/js/Search-In-Header.js"></script>
<script>
    setGoToSearchEvent();
</Script>