@{
    ViewBag.Title = "Search Media";
    Layout = "_UserDashboardLayout";
}
@section Styles {
    <link href="@Url.Content("~/css/Search-Media.css")" rel="stylesheet" type="text/css" />
    <link rel="Stylesheet" href="@Href("~/css/Header.css")" />
}
@section PreScript{
    @if (ViewBag.SearchValue != null)
    {
     <script> search('@ViewBag.SearchValue'); </script>
    }
}
<div id="result_holder" class="col-10 mx-auto mt-3">
</div>
<script src="~/js/Search-In-Header.js"></script>
<script>
    setSearchEvent();
</script>