@{
    ViewBag.Title = "Notification";
    Layout = "_UserDashboardLayout";
}
@section styles{
    <link rel="Stylesheet" href="@Href("~/css/User-Dashboard.css")" />
    <link rel="Stylesheet" href="@Href("~/css/Media-Details.css")" />
    <link rel="Stylesheet" href="@Href("~/css/Header.css")" />
    <link rel="Stylesheet" href="@Href("~/css/Notification.css")" />
}
<div style="min-height: 100vh">
    <div class="col-8 mt-3 mx-auto" id="notification_wrapper">
    </div>
</div>
<script src="~/js/Notification.js"></script>
<script>
    getNotification();
</script>