<footer class="col-12 d-flex justify-content-center">
    <div>
        <p class="text-center">A project of SWP subject</p>
        <p class="text-center">&copy;NextFlip by ...</p>
    </div>
</footer>
