<footer class="col-12 d-flex justify-content-center text-light" style="background-color: #202020">
    <div>
        <p class="text-center mb-1">A project of SWP subject</p>
        <p class="text-center mb-0">&copy;NextFlip by ...</p>
    </div>
</footer>
