<div id="slideBar" style="background-color: #181818" class="text-white col-2">
      <ul id="topic_List" class="list-unstyled ps-0 ms-1">
      </ul>
      <div class="btn-group dropup position-absolute bottom-0 start-0 ms-3 pb-4">
        <div type="button" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://storage.googleapis.com/next-flip/User%20Profile%20Image/Default" width="48" height="48" class="rounded-circle me-2"/>
        </div>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><a class="dropdown-item" href="#">Logout</a></li>
        </ul>
      </div>
</div>