<header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand fw-normal" style="color: red" href="#"
            >NextFlip</a
          >
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav col-3">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="/SubcribedUserDashBoard/Index"
                  >Home</a
                >
              </li>
            </ul>
            <div class="offset-3 col-6 row d-flex justify-content-end">
              <div class="col-9 row">
                <div
                  id="searchBtn"
                  class="offset-10 p-2 ps-3 col-1 text-light"
                >
                  <i class="mx-auto fas fa-search"></i>
                </div>
                <div id="search_holder" class="col-10 hide">
                  <input
                    id="search"
                    type="text"
                    class="form-control"
                    placeholder="Search Media"
                    value=""
                  />
                </div>
                <div id="notiButton" class="p-2 col-1 text-light">
                  <i class="fas fa-bell"></i>
                </div>
              </div>
              <div class="col-3 dropdown">
                <div
                  class="dropdown-toggle col-4 align-self-center text-light"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <img
                    style="object-fit: contain"
                    class="w-100"
                    src="https://storage.cloud.google.com/next-flip/User%20Profile%20Image/Default"
                    alt="picture"
                  />
                </div>
                <ul
                  class="dropdown-menu dropdown-menu-start"
                  aria-labelledby="navbarDropdown"
                >
                  <li><a class="dropdown-item" href="#">Profile</a></li>
                  <li>
                    <a class="dropdown-item" href="/SendSupportTicket/Index"
                      >Send feedback</a
                    >
                  </li>
                  <li><a class="dropdown-item" href="#">Logout</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>