@{
    Layout = "_CustomLayout";
}
@section Styles {
    <link href="@Url.Content("~/css/Slide-Bar.css")" rel="stylesheet" type="text/css" />
}
<div class="col-10">
      <div class="mt-5 col-5 mx-auto shadow-lg p-3 mb-5 bg-body rounded">
      <div class="row g-3 needs-validation" novalidate>
        <div class="col-12">
          <label for="email" class="form-label">Email</label>
          <input id="email" type="text" class="form-control" oninput="checkEmail()" required/>
          <div class="invalid-feedback">
          </div>
        </div>
        <div class="col-12">
          <label for="fullname" class="form-label">Fullname</label>
          <input id="fullname" type="text" class="form-control" required/>
          <div class="invalid-feedback">
            Name characters must between 1-32 characters
          </div>
        </div>
        <div class="row g-2">
          <div class="col-6">
            <label for="dob" class="form-label">Date of birth</label>
            <input id="dob" type="date" class="form-control" min="1900-01-01" max="2010-12-31" required/>
            <div class="invalid-feedback">
            </div>
          </div>
          <div class="col-6">
            <label for="role" class="form-label">Role</label>
            <select id="role" class="form-select" aria-label="Default select example" required>
              <option value="User Manager" selected>User Manager</option>
              <option value="Media Manager">Media Manager</option>
              <option value="Media Editor">Media Editor</option>
              <option value="Customer Supporter">Customer Supporter</option>
            </select>
          </div>
        </div>
        <button class="col-4 mt-3 mx-auto btn btn-primary" onclick="CreateStaff()">Create new staff</button>
      </div>
      </div>
</div>
<script src="~/js/Slide-Bar.js"></script>
<script src="~/js/Add-Staff.js"></script>
<script>
let backButton = `<a id="back_btn" href="/UserManagerManagement/Index" class="side_bar_btn btn btn-dark btn-lg text-decoration-none text-start link-light mx-auto w-100">
                    <i class="fas fa-arrow-left"></i> Back
                  </a>`;
appendButton(backButton);
</script>