@{
    Layout = "_CustomLayout";
}
@section Styles {
    <link href="@Url.Content("~/css/User-Manager.css")" rel="stylesheet" type="text/css" />
     <link href="@Url.Content("~/css/Slide-Bar.css")" rel="stylesheet" type="text/css" />
}
<div class="ui_wrapper col-10">
    <form method="POST" action="">
        <table class="table table-bordered w-100">
            <thead class="table-dark">
                <tr>
                    <th class="col-1">#</th>
                    <th class="col-3">Email</th>        
                    <th class="col-1">Role</th>
                    <th class="col-2">Full name</th>
                    <th class="col-1">Active</th>
                    <th class="col-1"></th>
                </tr>
            </thead>
            <tbody id="dataWapper"></tbody>
        </table>
        <div id="pagination"></div>
        <div id="submitButton">
            <!-- Submit button -->
            <p class="text-warning" id="message"></p>
            <button class="btn btn-primary" type="submit" name="btn" value="save">
                Save
            </button>
        </div>
    </form>
</div>
<script src="~/js/Pagination.js"></script>
<script src="~/js/Slide-Bar.js"></script>
<script src="~/js/User-Manager-Dashboard.js"></script>
<script>
    getRoles();
</script>