@{
    ViewBag.Title = "Media Editor";
    Layout = "_CustomLayout";
}
@section Styles {
    <link href="@Url.Content("~/css/User-Manager.css")" rel="stylesheet" type="text/css" />
     <link href="@Url.Content("~/css/Slide-Bar.css")" rel="stylesheet" type="text/css" />
}
<script src="~/js/Slide-Bar.js"></script>
<script src="~/js/Add-New-Media.js"></script>
<script> 
    let button1 = `<a href="/EditorDashboard/Index" class="side_bar_btn btn btn-dark text-decoration-none link-light text-start w-100" onclick="showAddStaffModal()">
                        Media manager
                      </a>`;
    let button2 = `<a href="/EditorDashboard/ViewAddNewMedia" class="side_bar_btn btn btn-dark text-decoration-none link-light text-start w-100" onclick="showAddStaffModal()">
                        Add new media
                      </a>`;
    let button3 = `<a href="/EditorDashboard/ViewEditRequest"  onclick="return showForm();" class="side_bar_btn btn btn-dark text-decoration-none link-light text-start w-100" onclick="showAddStaffModal()">
                        View edit request
                    </a>`;
    appendButton(button3);
    appendButton(button2);
    appendButton(button1);
</script>