@{
    ViewBag.Title = "Forgot Password";
    Layout = "_AuthenticationLayout";
}
@section styles{
    <link rel="Stylesheet" href="@Href("~/css/Login.css")" />
}
@section meta{
    <meta name="google-signin-client_id" content="753240362122-b5jcp3ipgeuo2alsicq580puevmjgp91.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
}
<div id="wrapper" class="d-flex align-items-center" style="background-color: #171717">
    <a class="navbar-brand fw-normal ps-5 position-absolute top-0 start-0 fs-2" style="color: red" href="#">NextFlip</a>
    <div id="login_wrapper" class="col-5 col-xxl-4 px-5 py-3 rounded align-self-center text-light" style="background-color: #202020">
        <div class="mb-3 row mx-auto">
            <label for="email" class="col-2 col-form-label">Email</label>
            <div class="col-9 offset-1">
                <input type="text" class="form-control  bg-dark text-light border-secondary" id="email" />
            </div>
            <div class="invalid-feedback">
                Please choose a username.
            </div>
        </div>
        <div class="mb-3 row mx-auto">
            <label for="password" class="col-2 col-form-label">Password</label>
            <div class="col-9 offset-1">
                <input type="password" class="form-control bg-dark text-light border-secondary" id="password" />
            </div>
        </div>
        <div class="alert alert-danger d-none" role="alert">
            Invalid email or password
        </div>
    </div>
</div>