@{
    ViewBag.Title = "Register";
    Layout = "_AuthenticationLayout";
}
@section styles{
    <link rel="Stylesheet" href="@Href("~/css/Register.css")" />
}
<div id="wrapper" class="d-flex align-items-center" style="background-color: #171717">
    <a class="navbar-brand fw-normal ps-5 position-absolute top-0 start-0 fs-2" style="color: red" href="#">NextFlip</a>
    <div class="col-5 mx-auto px-5 py-3 rounded align-self-center text-light" style="background-color: #202020">
        <!-- <form autocomplete="off"> -->
        <div class="mb-3">
            <p class="text-center h1">Register</p>
        </div>
        <div id="email_container" class="ps-5 mb-3 row d-flex justify">
            <label class="col-form-label col-4" for="email">Email</label>
            <div class="col-7">
                <input class="form-control bg-dark text-light border-secondary " type="text" name="email" id="email" onkeyup="processChange(this)" required placeholder="example@xyz.com" />
                <div class="invalid-feedback">
                </div>
            </div>
        </div>
        <div id="password_container" class="ps-5 mb-3 row d-flex justify">
            <label class="col-form-label col-4" for="password">Password</label>
            <div class="col-6">
                <input class="form-control bg-dark text-light border-secondary " type="password" name="password" id="password" onkeyup="onInputPassword()" required />
                <div class="invalid-feedback">
                </div>
            </div>
        </div>
        <div id="repassword_container" class="ps-5 mb-3 row d-flex justify">
            <label class="col-form-label col-4 pe-0" for="confirmPassword">Confirm Password</label>
            <div class="col-6">
                <input class="form-control bg-dark text-light border-secondary " type="password" name="confirmPassword" id="confirmPassword" onkeyup="onInputRePassword()" required />
                <div class="invalid-feedback">
                </div>
            </div>
        </div>
        <div id="dob_container" class="ps-5 mb-3 row d-flex justify">
            <label class="col-form-label col-4" for="dob">Date of birth</label>
            <div class="col-6 d-flex">
                <input class="form-control bg-dark text-light border-secondary w-75 pe-2" type="text" name="dob" id="dob" required placeholder="01-01-2000" />
                <span class="input-group-text border-0" id="dob_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-fill" viewBox="0 0 16 16">
                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5h16V4H0V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5z" />
                    </svg>
                </span>
            </div>
            <div class="invalid-feedback">
                Wrong date!
            </div>
        </div>
        <div id="name_container" class="ps-5 mb-3 row d-flex justify">
            <label class="col-form-label col-4" for="fullname">Full Name</label>
            <div class="col-6">
                <input class="form-control bg-dark text-light border-secondary " type="text" name="fullname" id="fullname" onkeyup="onInputNanme()" required placeholder="Nguyen Van A" />
                <div class="invalid-feedback">
                </div>
            </div>
        </div>
        <p class="form-text text-center">
            Already have an account?
            <a href="/Account/Login">Sign in</a>
        </p>
        <p class="d-flex justify-content-center">
            <button class="btn btn-danger mt-5 align-self-start" onclick="requestSignUp()"> Sign Up</button>
        </p>
        <!-- </form> -->
        <!-- Button trigger modal -->
        <button id="btn-modal" type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#exampleModal"></button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-success">
                        <h5 class="modal-title" id="exampleModalLabel">Success</h5>
                    </div>
                    <div id="respose-modal-body" class="modal-body text-dark">
                    </div>
                    <div class="modal-footer">
                        <form action="/">
                            <input type="submit" value="Return to Login Page" class="btn btn-primary" />
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<script src="~/js/Authenticate/Register.js"></script>
<script>
    $(function () {
        $("#dob").datepicker({
            dateFormat: 'dd-mm-yy'
        });

        $("#dob_icon").click(function () {
            $("#dob").datepicker("show");
        });
    });
</script>
