<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous" />
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/c82ac77d9b.js"
            crossorigin="anonymous"></script>
    <!-- videojs -->
    <link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />
    @RenderSection("styles", false)
    <title>Document</title>
</head>
<body style="background-color: #000">
    <partial name="~/Views/SharedComponents/UserDashboardHeader.cshtml" />
    <div>
        @RenderBody()
    </div>
    <!-- videojs script ///////////-->
    <script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>

    <!-- bootstrap script /////////////////////-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
    <script>
        setTimeout(function(){
            document.body.className="";
        },1000);
    </script>
</body>
</html>