@{
    Layout = "_CustomLayout";
}
<div class="ui_wrapper">
  <div class="mx-auto col-10 shadow-lg p-3 mb-5 bg-body rounded">
      <form class="mx-auto">
        <label class="h2 form-label" for="option">Topic</label>
        <select name="option" id="option" class="form-select form-select-lg mb-3 w-75">
          <option selected>Select Topic</option>
        </select>
        <label class="h3 form-label" for="content">Content</label>
        <textarea
          class="form-control form-control-lg w-75"
          name="content"
          id="content"
          cols="103"
          rows="20"
        ></textarea>
        <div class="d-flex flex-row-reverse w-75 mt-3">
          <button type="submit" class="btn btn-primary mx-1 btn-lg">
            Submit
          </button>
          <button type="submit" class="btn btn-primary mx-1 btn-lg">
            Cancel
          </button>
        </div>
      </form>
  </div>
</div>
<script src="~/js/SendSupportTicket.js"></script>