@{
    ViewBag.Title = "Profile";
    Layout = "_UserDashboardLayout";
}
@section styles{
    <link rel="Stylesheet" href="@Href("~/css/Header.css")" />
    <link rel="Stylesheet" href="@Href("~/css/Profile.css")" />
}
<div class="profile_background">
  <div class="col-8 mx-auto profle_wrapper">
    <div class="offset-1 d-flex justify-content-start" id="imgAndName_holder"></div>
      <div class="offset-1 mt-5 ps-2">
        <div class="mb-5 d-flex justify-content-start">
          <p class="fs-4">Email: </p>
          <p class="fs-5 ps-3 p-1" id="email"></p>
        </div>
        <div class="mb-5 d-flex justify-content-start">
          <p class="fs-4">Date of birth: </p>
          <p class="fs-5 ps-3 p-1" id="dob"></p>
        </div>
        <div class="mb-5 d-flex justify-content-start">
          <p class="fs-4">Expiration date:
          <p class="fs-5" id="exp_date"></p>
          </p>
          <div class="btn btn-danger btn-lg ms-3">Extend</div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="~/js/Search-In-Header.js"></script>
<script src="~/js/Profile.js"></script>
<script>
    setGoToSearchEvent();
</Script>