@{
    ViewBag.Title = "ResetPassword";
    Layout = "_UserDashboardLayout";
}
@section styles{
    <link rel="Stylesheet" href="@Href("~/css/Header.css")" />
    <link rel="Stylesheet" href="@Href("~/css/Profile.css")" />
}
<div class="d-flex justify-content-center">
<div class="col-5 align-self-center shadow-lg p-3 mb-5 bg-body rounded">
    <p class="fs-4 text-center">Reset password</p>
    <div class="mb-3 row">
        <label for="newpassword" class="text-end col-sm-4 col-form-label">Password</label>
        <div class="col-sm-8">
            <input type="password" class="form-control w-75" id="newpassword" onkeyup="onInputPassword()">
            <div class="invalid-feedback">
            </div>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="confirmPassword" class="text-end col-sm-4 col-form-label">Confirm password</label>
        <div class="col-sm-8">
            <input type="password" class="form-control w-75" id="confirmPassword" onkeyup="onInputConfirmPassword()">
            <div class="invalid-feedback">
            </div>
        </div>
    </div>
    <div class="col-12 d-flex justify-content-center">
        <button class="btn btn-primary" onclick="requestResetPassword()">Reset Password</button>
    </div>
</div>
</div>
<script src="~/js/Search-In-Header.js"></script>
<script src="~/js/Authenticate/Reset-Password.js"></script>
<script>
    setGoToSearchEvent();
</Script>