@{
    ViewBag.Title = "Register";
    Layout = "_AuthenticationLayout";
}
@section styles{
    <link rel="Stylesheet" href="@Href("~/css/Register.css")" />
}
<script>displayModal()</script>
<!-- Button trigger modal -->
<button id="respondModal" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <h5 class="modal-title" id="exampleModalLabel">Success</h5>
            </div>
            <div id="respose-modal-body" class="modal-body">
            </div>
            <div class="modal-footer">
                <form action="/">
                    <input type="submit" value="Return to Login Page" class="btn btn-primary" />
                </form>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        let btn = document.getElementById("btn-modal");
        let body = document.getElementById("respose-modal-body");
        body.innerHTML = "We have send validation link in your email. Please verify your account in the email !";
        if (btn != null) btn.click();
    });
</script>


