
@{
    ViewBag.Title = "Detail";
    Layout = "_UserDashboardLayout";
}
@section styles{
    <link rel="Stylesheet" href="@Href("~/css/Media-Details.css")" />
    <link rel="Stylesheet" href="@Href("~/css/Header.css")" />

}
    <div id="wrapper">
      <div class="w-100 h-100" id="imageHolder">    
      </div>
      <div id="content_holder" class="w-50 h-100">
        <div class="up row mx-auto" id="infor_hodler">
        </div>
        <div class="above" id="details_holder">
        </div>
      </div>
    </div> 
<script src="~/js/Media-Details.js"></script>
<script src="~/js/Search-In-Header.js"></script>
<script>
    setGoToSearchEvent();
    Run('@ViewBag.MediaID')
</script>