@{
    Layout = "_WatchMediaLayout";
}
<div id="name" class="fixed-top mt-2 ml-5" style="color: white"></div>
<div id="wrapper"></div>
<script src="~/js/Watch-Media.js">
</script>

<script>
   Run('@ViewBag.MediaID', '@ViewBag.EpisodeID');
</script>